<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.drawer">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:label="Light" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.GalleryActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.HomeActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.ShareActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.SlideshowActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.ToolsActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.MusicInfoActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.OnlineMusicActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.OnLineSongListActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.SongListActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.CommendActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.SearchActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.ArtistActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.ArtistsActivity" android:label="Light" android:theme="@style/Theme.AppCompat.Light"/>
        <receiver android:name=".receiver.MusicListReceiver">
            <intent-filter >
                <action android:name="music_list"/>
            </intent-filter>
        </receiver>
    </application>



</manifest>